<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Account</title>
    <style>
      #Logo {
        width: 150px;
        border-radius: 100px;
        border: 2px solid #000000;
      }
      p {
        border-bottom-style: solid;
      }
      .logout {
        float: right;
      }
    </style>
  </head>
  <body>
    <img
      id="Logo"
      src="images/Logo.jpg"
      alt="an image of Rate My Course Logo "
    />
    <div class="logout">
      <a href="index.html">Log Out</a>
    </div>
    <p></p>
  </body>
</html>
