<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Account</title>
    <style>
      #Logo {
        width: 150px;
        border-radius: 100px;
        border: 2px solid #000000;
      }
      p {
        border-bottom-style: solid;
      }
      .logout {
        float: right;
      }
      .info p {
        border-bottom: none;
      }
      h1 {
        text-align: center;
        margin-top: 0%;
      }
      body {
        font-family: "Courier New", Courier, monospace;
      }
    </style>
  </head>
  <body>
    <img
      id="Logo"
      src="images/Logo.jpg"
      alt="an image of Rate My Course Logo "
    />
    <div class="logout">
      <a href="index.html">Log Out</a>
    </div>
    <h1>Welcome to Your Profile</h1>
    <p></p>
    <h2>Profile Information</h2>
    <div class="info">
      <p>Email:</p>
      <p>Password:</p>
    </div>
    <h2>History</h2>
    <ul>
      <li>Activity 1 - Date</li>
      <li>Activity 2 - Date</li>
      <! unordered list contains history items represented as list items. Each list item displays an activity followed by a date>
    </ul>
  </body>
</html>
