<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <title>Rate My Course</title>
    <style>
      img {
        width: 150px;
        border-radius: 10px;
      }
      img {
        width: 100px;
        border-radius: 10px;
      }

      hgroup {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <hgroup>
      <img
        src="images/Rate My Course Logo.png"
        alt="an image of Rate My Course Logo "
      />
      <div>
        <h2>
          Need to express your thoughts about a course? Why not put a rate to
          it!
        </h2>
        <p>
          Are you a student? Sign up here.
          <button>Student Sign Up</button>
        </p>

        <p>
          Are you a admin? Sign up here.
          <button>Admin Sign Up</button>
        </p>
        <a href="login.html">Login Here</a>
        <p>Designed for Montclair State University Students</p>
        <img src="images/MSU hawk.jpg" alt="an image of MSU hawk" />
      </div>
    </hgroup>
  </body>
</html>
