<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Page</title>
    <style>
      img {
        width: 150px;
        border-radius: 10px;
      }
      hgroup {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <hgroup>
      <img
        src="images/Rate My Course Logo.png"
        alt="an image of Rate My Course Logo "
      />

      <h2>Sign up below</h2>
      <form>
        <div>
          <label for="firstName">First Name:</label>
          <input
            type="text"
            id="firstName"
            name="firstName"
            placeholder="John"
            required
          />
        </div>

        <div>
          <label for="lasttName">Last Name:</label>
          <input
            type="text"
            id="lasttName"
            name="lasttName"
            placeholder="Smith"
            required
          />
        </div>

        <div>
          <label for="email"> Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="smithj@montclair.edu"
            required
          />
        </div>

        <div>
          <label for="password"> Password:</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="password123!"
            maxlength="12"
            required
          />
        </div>
        <input type="submit" />
      </form>
    </hgroup>
  </body>
</html>
